/* ------------ VARIÁVEIS ------------ */
:root {
    --background-color: #9BFAB0;
    --dark-mode-background-color: #000000;
    --dark-mode-div-color: #131313;
    
    /* ------------ ESTILOS GERAIS ------------ */
}
input{
    background-color: #9BFAB0;
    color: #000000;
    border-radius: 7px;
    width: 254px;
    height: 30px;
}
input.dark-mode{
    background-color: var(--dark-mode-div-color);
}
a{
text-decoration: none;
    border-radius: 10px;
    border-color: #64C27B;
    background-color: #64C27B;
    position: absolute;
    left: 1700px;
    top: 25px;
    color: #ffffff;
    height: 50px;
    width: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* ------------ LABEL ------------ */
label {
    color: #ffffff
}
label.dark-mode {
    color: #ffffff;

}
/* ------------ BODY ------------ */
body {
    justify-content: center;
    align-items: center;
    height: 30vh;
    margin: 0px;
    background-color: #9BFAB0;
}
body.dark-mode {
    background-color: var(--dark-mode-div-color);
}

/* ------------ SEÇÃO ------------ */
section {
    background-color: #3c7c07;
    margin: auto;
    width: 550px;
    border-radius: 20px;
    position: absolute;
    left: 660px;
    top: 390px;
}
section.dark-mode {
    background-color: var(--dark-mode-background-color);
}

/* ------------ FORMULÁRIO ------------ */
form {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}
nav {
    height: 50px;
}

/* ------------ CAIXA ------------ */
div {
    background-color: black;
    margin: 0px; 
    padding: 1%;
}
div.dark-mode {
    background-color: var(--dark-mode-background-color);
}
nav{
    color: white;
    text-align: justify;
    width: auto;
    font-size: 36px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: italic; 
    margin: 0ch;
}
/* ------------ BOTÕES ------------ */
.button1 {
    background-color: rgb(26, 151, 26);
    color: #fff;
    border-radius: 10px;
    border-color: #fff;
    font-size: 28px;
    margin-left: 51px;
    margin-right: 51px;
    margin-top: 10px;
}
.button02 {
    width: 35px;
    height: 35px;
    border-radius: 7px;
    position: absolute;
    right: 400px;
    bottom: 330px;
    background-color: #9BFAB0;
    left: 30px;
    top: 30px;
}
.button02.dark-mode {
    background-color: #64C27B;
}

/* ------------ IMAGENS ------------ */
.img01 {
    width: 45px;
    position: absolute;
    top: 25px;
    left: 220px;
    display: flex;
}
.img02 {
    width: 1857px;
    position: relative;
    display: flex;
    filter: brightness(100%);
}
.img02.dark-mode {
    filter: brightness(70%) !important;
}
.img03 {
    width: 30px;
    position: absolute;
    top: 2px;
    left: 1px;
    display: flex;
}
.img05 {
    width: 45px;
    position: absolute;
    top: 1270px;
    left: 970px;
    display: flex;
}

/*------------- TEXTOS --------------- */
.texto01 {
    color: #72FF91;
    font-size: 20px;
    font-style: italic;
}
.texto02 {
    font-style: oblique;
    color: #72FF91;
    font-size: 20px;
    position: absolute;
    top: 1215px;
    left: 1480px;
    font-style: italic;
}
.texto03 {
    width: 900px;
    color: #72FF91;
    left: 800px;
    position: relative;
    font-style: italic;
}
.texto04 {
    font-style: oblique;
    font-style: italic;
    color: #72FF91;
    font-size: 20px;
    position: absolute;
    top: 1215px;
    left: 750px;
}
.texto05 {
    font-style: oblique;
    font-style: italic;
    color: #72FF91;
    font-size: 20px;
    position: absolute;
    top: 1315px;
    left: 1565px;
}
.texto06 {
    position: relative;
    top: -20px;
}
.texto07 {
    position: relative;
    left: -71px;
}
.texto08 {
    position: relative;
    left: -105px;
}
.texto09 {
    position: relative;
    left: -105px;
}
.texto10 {
    position: relative;
    left: -55px;
}